html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
}

.log-content {
}

.log-content h5 {
    font-weight: 500;
    font-size: 14px;
}

.log-content h4 {
    font-weight: 400;
    font-size: 16px;
}

.log-content h3 {
    font-weight: 400;
}

.log-content h2 {
    font-weight: 400;
}

.log-content h1 {
    font-weight: 400;
}

.log-content p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.log-content p img {
    width: 100%;
}

.log-content ul {
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.log-content .legend {
    font-weight: 100;
    font-size: 10px;
    text-align: center;
    font-style: italic;
}

.log-content img {
    width: 100%;
    border: 2px solid #A2A2A2;
}

.log-content {
    margin-bottom: 25px;
}

.log-content iframe {
    width: 100%;
    height: 500px;
}

b, strong {
    font-weight: 500;
}

.rétro-gaming {
    background: #803526;
    color: white;
}

.vidéo-game, .video-game {
    background: #467fab;
    color: white;
}

.nintendo-switch {
    background: #E60012;
    color: white;
}

.nintendo-switch2{
    background: #d32d26;
    color:white;
}
.ps5 {
    background: white;
    color: black;
}


.article-tags {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 200;
}

.tag {
    border: 1px solid #444;
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
}

.tiny-tag {
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
    width: fit-content;
}

.tag-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.tag img {
    height: 30px;
    width: auto;
}

.tag-clickable:hover{
    cursor: pointer;
    opacity: 0.8;
}